.mantine-TextInput-label {
  @apply text-sm  font-medium;
}
.mantine-Select-label {
  @apply text-sm font-medium;
}
.mantine-Textarea-label {
  @apply text-sm font-medium;
}

.mantine-PinInput-root {
  @apply gap-4;
}

.mantine-PinInput-input {
  @apply dark:bg-transparent dark:text-white rounded-[8px] dark:border-[#3A3A3A];
}

.mantine-TextInput-input {
  @apply text-sm h-[34px]  rounded-[6px]  dark:bg-transparent dark:text-white;
}

.mantine-Select-input {
  @apply text-sm h-[34px]  rounded-[6px]  dark:bg-transparent dark:text-white;
}
.mantine-PasswordInput-input {
  @apply text-sm h-[34px]  rounded-[6px]  dark:bg-transparent dark:text-white;
}

.mantine-Button-root {
  @apply h-[37px] transition-all duration-300 hover:scale-[1.01]  transition-all  text-sm rounded-md font-semibold;
}
.mantine-Button-root[data-variant='primary'] {
  @apply hover:bg-black hover:text-white dark:hover:bg-primary/20;
}
.mantine-Button-root[data-variant='light'] {
  @apply hover:bg-primary hover:text-white;
}

.mantine-Button-root[data-variant='outline'] {
  @apply hover:bg-primary/40 hover:border-black hover:border-[0.5px] hover:text-white dark:hover:bg-primary/20;
}

.custom-pagination-control {
  @apply transition-all duration-300 bg-transparent hover:text-primary font-medium size-10 text-47gray dark:text-white  text-xs border-none hover:bg-primary/10;
}
.custom-pagination-control[data-active='true'] {
  @apply transition-all duration-300 border-[0.5px] border-solid hover:bg-primary border-primary  hover:text-white text-black dark:text-white;
}

.custom-pagination-btn {
  @apply transition-all duration-300 text-xs hover:stroke-primary  font-medium hover:bg-primary/10 text-47gray dark:text-white;
}
.custom-pagination-btn[data-disabled='true'] {
  @apply bg-transparent duration-300 opacity-50;
}

.scrollbar {
  &,
  &:hover {
    @apply bg-primary/10;
  }

  .thumb {
    @apply bg-primary;
  }

  &[data-orientation='horizontal'] .thumb {
    @apply bg-primary;
  }
}

.corner {
  @apply bg-primary;
  opacity: 1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mantine-Modal-content {
  @apply bg-white dark:bg-black;
}

.mantine-Modal-overlay {
  @apply bg-black/50 dark:bg-white/50;
}

.mantine-Menu-dropdown {
  @apply border-app-border rounded-lg;
}

.mantine-Menu-item {
  @apply hover:bg-primary/10 self-stretch  text-47gray p-2 dark:text-white text-xs font-medium font-['Geist'];
}

.mantine-Switch-thumb {
  @apply bg-white;

  &::before {
    @apply bg-white;
  }
}
