.list {
  @apply gap-2 flex-nowrap  flex-row flex;
  position: relative;
}

.indicator {
  @apply bg-[#F2FAFD] rounded-lg dark:bg-[#0C1519];
}

.tab {
  @apply px-[3.5rem] font-medium rounded-lg text-xs;
  z-index: 1;
  font-weight: 500;
  transition: color 100ms ease;

  &[data-active] {
    @apply text-primary;
  }
}

.fill-tab .list {
  @apply p-1 bg-primary/10 rounded-lg w-fit border-[0.5px] border-solid  border-app-border;
}

.fill-tab .indicator {
  @apply bg-primary text-white;
}
.fill-tab .tab {
  @apply text-47gray dark:text-white/70 font-semibold h-[28px];

  &[data-active] {
    @apply text-white;
  }
}
