/* @import '@mantine/core/styles.css'; */

@import '@mantine/core/styles.css';
@import 'tailwindcss';
@import '../styles/mantine.css';
@import '../styles/nav.css';
@import '../styles/tab.css';
@import '../styles/typography.css';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Bonn';
  src: url('/fonts/Boon/Bonn BF Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bonn';
  src: url('/fonts/Boon/Bonn BF ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Bonn';
  src: url('/fonts/Boon/Bonn BF Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bonn';
  src: url('/fonts/Boon/Bonn BF Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bonn';
  src: url('/fonts/Boon/Bonn BF Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bonn';
  src: url('/fonts/Boon/Bonn BF Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bonn';
  src: url('/fonts/Boon/Bonn BF Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bonn';
  src: url('/fonts/Boon/Bonn BF Ultra.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticalNeue/HelveticaNeue-Ultralight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticalNeue/HelveticaNeue-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticalNeue/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticalNeue/HelveticaNeue-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticalNeue/HelveticaNeue-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticalNeue/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticalNeue/HelveticaNeue-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  ---secondary-bg: #f2fafd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #0098da;
  --color-black-1: #202022;
  --color-grayed: #787878;
  --color-green: #059669;
  --color-red: #ff0000;
  --color-brandblue2: #0098da;
  --color-brandblue3: #91d8f7;
  --color-47gray: #474747;
  --color-newstroke: #d1d1d1;
  --color-gray-complimentary: #474747;
  --color-app-border: rgba(196, 196, 196, 0.5);
  --color-greyed: #777777;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bonn: 'Bonn', 'san';
  --font-geist: 'Geist', 'san';
  --font-helvetica: 'Helvetica Neue', 'san';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    ---secondary-bg: #0c1519;
  }
}

body {
  @apply dark:bg-black bg-white font-sans h-screen overflow-hidden;
}
.primary-background {
  @apply dark:bg-black bg-white;
}

.auth-footer-text {
  @apply text-sm font-normal dark:text-white text-[#474747];
}

.auth-wrapper {
  @apply gap-4  flex-col flex;
}

.auth-left {
  @apply hidden lg:flex py-4  items-center justify-between;
}

.auth-title {
  @apply text-[20px] font-bonn font-bold dark:text-white text-black;
}

.auth-back-btn {
  @apply rounded-md dark:rounded-full dark:bg-primary w-[20px] h-[20px] border-[#D1D1D180] border-solid bg-[#F5F5F5];
}

.survey-card-item {
  @apply border-[0.5px] hover:text-primary hover:bg-[#F2FAFD] dark:hover:bg-[#0C1519]    transition-all duration-300 rounded-[16px]  border-[#D1D1D1] p-4;
}
.survey-card-item[data-active='true'] {
  @apply border-[0.5px] rounded-[16px]  !border-primary p-[16px] bg-primary/10;
}

.survey-card-text {
  @apply text-[16px] font-semibold text-center;
}

.survey-card-text[data-active='true'] {
  @apply text-primary;
}
.page-title {
  @apply text-black-1 dark:text-white;
}
.page-des {
  @apply text-grayed dark:text-white/60;
}

.dashboard-top-card {
  @apply flex flex-col     items-center  overflow-hidden rounded-xl;
}
.dashboard-top-card-title {
  @apply text-xs font-medium text-black dark:text-white font-bonn;
}
.dashboard-top-card-value {
  @apply text-3xl font-bold text-black dark:text-white font-bonn;
}

.default-text {
  @apply text-[#202022] dark:text-white;
}

.arrow-btn {
  @apply text-primary h-[30px]  text-[10px] px-0 font-medium transition-all  hover:scale-105;
}

.table-header-text {
  @apply text-center text-xs font-bold text-47gray dark:text-white;
}
.table-title-text {
  @apply line-clamp-1 text-xs font-bold text-47gray dark:text-white;
}
.table-item-text {
  @apply line-clamp-1 text-center text-xs text-47gray dark:text-white;
}

.custom-table {
  --table-striped-color: #f7f7f7; /* dark gray */
}

.custom-table-head {
  @apply bg-[#f7f7f7] dark:bg-[#1F1F1F] border-[#D1D1D1] border-y-[0.5px];
}

/* Dark mode stripes */
[data-mantine-color-scheme='dark'] .custom-table {
  --table-striped-color: #1f1f1f; /* dark gray */
}
.focus {
  &:focus {
    outline-offset: 3px;
  }
}

/* Use `&:focus-visible` when you want focus ring to be visible
   only when user navigates with keyboard, for example by pressing Tab key */
.focus-auto {
  &:focus-visible {
    outline: 2px solid;
    outline-offset: 2px;
  }
}

.dashboard-card-header-text {
  @apply text-sm font-medium text-black dark:text-white font-bonn;
}

.page-layout-wrapper {
  @apply w-full flex flex-col gap-4;
}

.filter-items-btn {
  @apply w-full justify-start hover:bg-primary/10 text-47gray dark:text-white flex text-xs font-normal;
}

.menu-btn {
  @apply text-xs;
}

.system-health-text {
  @apply text-47gray dark:text-white text-xs font-bold flex-1;
}

.default-gray47-text {
  @apply text-47gray dark:text-white;
}

.custom-chart-tooltip .apexcharts-tooltip {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.user-detail-header-btn {
  @apply rounded-lg text-xs font-bold;
}
.user-detail-header-avatar {
  @apply size-32  bg-amber-300/20 text-4xl font-bold;
}
.user-detail-header-avatar .mantine-Avatar-placeholder {
  @apply text-4xl text-amber-300 font-bold;
}

.app-border {
  @apply border-[0.5px] border-solid border-app-border;
}

.s-profile-name {
  @apply text-white dark:text-black text-base font-medium font-['Bonn_BF'];
}
.s-profile-email {
  @apply justify-start text-newstroke text-sm font-normal font-geist;
}

.s-profile-avatar {
  @apply w-10 h-10 bg-white/20 rounded-full border border-newstroke backdrop-blur-[5px];
}

.s-profile-avatar .mantine-Avatar-placeholder {
  @apply text-white text-lg text-center font-bold font-geist;
}

.s-profile-teams-btn {
  @apply px-2 py-1 transition-all h-[26px] bg-white/20 hover:scale-[1.04] rounded-[32px]  border-[0.50px] border-[-0.50px] border-newstroke backdrop-blur-[5px] flex justify-center items-center gap-1;
}
.s-profile-teams-btn-text {
  @apply justify-start text-white dark:text-black text-sm font-semibold font-geist;
}

.s-settings-title {
  @apply text-black dark:text-white text-base font-medium font-['Bonn_BF'];
}
.s-settings-des {
  @apply justify-start text-47gray dark:text-white/60 text-sm font-normal font-geist;
}
.s-settings-outline-btn {
  @apply rounded-md text-47gray border-47gray dark:border-white/90 dark:text-white/90 border-[0.50px] text-sm font-semibold font-geist;
}
.app-card-border {
  @apply self-stretch p-8   rounded-xl   border-[0.5px] border-solid border-app-border flex  flex-col justify-start items-start gap-8;
}

.s-settings-input {
  @apply w-full;
}
.s-settings-input-des {
  @apply justify-start text-gray-complimentary text-sm font-normal font-geist;
}

.s-settings-delete-btn {
  @apply rounded-md h-[34px] hover:text-red-500 border-red-600 bg-red-600/5 text-red-500 border-[0.50px] text-sm font-semibold justify-center items-center gap-2.5 font-geist px-4 py-2;
}

.p-theme-text {
  @apply justify-start text-black dark:text-white text-sm font-medium font-geist;
}

.theme-item-card {
  @apply flex-1 h-44 px-6 py-4  rounded-lg  transition-all  inline-flex flex-col justify-start items-center gap-2;
}
.theme-item-card[data-active='true'] {
  @apply outline-sky-500 outline outline-[1.50px] transition-all outline-offset-[-1.50px] shadow-[0px_0px_5px_0px_rgba(0,152,218,1.00)];
}

.theme-card-label {
  @apply self-stretch justify-start text-black dark:text-white text-sm font-medium font-geist;
}
.theme-card-title {
  @apply justify-start text-black dark:text-white text-sm font-normal font-geist;
}
.theme-card-des {
  @apply self-stretch justify-start text-47gray dark:text-white/70 text-xs font-normal font-geist;
}

.app-btn {
  @apply justify-start h-[34px] text-white text-sm font-semibold font-geist;
}

.plus-btn {
  @apply bg-primary/10 flex rounded-full items-center justify-center size-[34px] border-primary border-[0.5];
}

.member-avatar {
  @apply size-9 bg-primary items-center justify-center rounded-full border  border-newstroke backdrop-blur-[5px];
}
.member-avatar .mantine-Avatar-placeholder {
  @apply text-white text-xl font-bold font-geist;
}

.member-name {
  @apply justify-start text-black dark:text-white text-sm font-medium font-geist;
}
.member-email {
  @apply justify-start text-black/50 dark:text-white/50 text-xs font-normal font-geist;
}

.bill-modal-title {
  @apply text-center justify-center text-black dark:text-white text-xl font-bold font-['Bonn_BF'];
}

.bill-btn {
  @apply text-sm rounded-full font-semibold font-geist h-[34px];
}

.bill-card-price {
  @apply text-primary text-xl font-bold font-['Bonn_BF'];
}
.bill-card-period {
  @apply text-slate-500 dark:text-slate-200 text-[10px] font-medium font-geist;
}
.bill-card-badge {
  @apply rounded-2xl px-2 h-[18px] py-1 bg-primary text-white text-[8px] font-medium font-geist;
}

.bill-card-title {
  @apply justify-start text-47gray dark:text-white text-xl font-bold font-geist;
}
.bill-card-des {
  @apply justify-start text-47gray dark:text-white text-sm font-normal font-geist;
}

.bill-card {
  @apply p-4 hover:scale-105 xl:p-8 transition-all duration-500 inline-flex flex-col justify-start items-start gap-8 hover:border-primary;
}

.dash-text-this {
  @apply text-center justify-start dark:text-white/50 text-grayed text-xs font-medium font-geist;
}

.new-text {
  @apply text-base font-bonn font-medium;
}

.r-u-a-date {
  @apply self-stretch justify-start text-greyed text-[10px] font-medium font-geist;
}
.r-u-a-title {
  @apply self-stretch justify-start text-black text-xs font-medium font-geist;
}
.r-u-a-des {
  @apply self-stretch justify-start text-greyed text-xs font-medium font-geist;
}

.r-u-a-card {
  @apply relative;
}

.r-u-a-gradient-dot {
  @apply size-[5px]  bg-linear-270 from-violet-300 to-indigo-500 rounded-full absolute top-1 z-20 -left-[30.5px];
}

.r-u-drop-input {
  @apply justify-start hover:scale-105 w-fit px-1.5 py-0 h-[20px] hover:bg-transparent  bg-transparent dark:text-white hover:text-greyed dark:hover:text-white text-greyed text-[10px] font-medium font-['Geist'] outline-[0px] border-[0px] text-end bg-cyan-300;
}
.user-setting-input {
  @apply bg-[#F2FAFD];
}

.u-hero-email {
  @apply justify-start text-greyed text-xs dark:text-white/50 font-medium font-geist;
}
.u-hero-name {
  @apply justify-start font-bonn text-black dark:text-white text-base !font-[700];
}

.auth-left-section {
  @apply hidden lg:block;
}

.otp-e-text {
  @apply text-slate-500 dark:text-white/50 text-center text-sm font-medium font-geist;
}
.otp-e-resend[data-active='true'] {
  @apply text-primary;
}
.otp-e-resend {
  @apply justify-start transition-all text-slate-500 text-sm font-normal font-geist;
}
.otp-e-resend-btn[data-disabled='true'] {
  @apply opacity-50 cursor-not-allowed bg-transparent;
}

.text-survey-question {
  @apply text-center dark:text-white/70 text-47gray text-sm font-bold font-['Geist'];
}

.survey-indicator {
  @apply self-stretch w-[15px] h-1 relative bg-newstroke rounded-[32px];
}
.survey-indicator[data-active='true'] {
  @apply bg-primary;
}
